# Pinata API Configuration
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1NGM3ZmJjNy1hYTc5LTQ3OWMtYjRiNC1lNWQ0ZTkxZDQ1ZDkiLCJlbWFpbCI6ImxpdnlhbHRlckBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiZWJjNjU1MjRhN2QyOTYzZWE2YTIiLCJzY29wZWRLZXlTZWNyZXQiOiIxNmJlYzkzNTg5YjI0ZmFjYzJhNDEwODMyNGVlODlmYzVlYTEzYTU5MTIxZGU3MDY4ZTQ1NWYzZTRlZGNiMzYyIiwiZXhwIjoxNzk3ODU3NzUxfQ.V_PafeR7W6Jd2vaqpJFXlLzC0F2qp975N47w5YLYyiY
VITE_PINATA_GATEWAY=https://gateway.pinata.cloud

